<div class="container ">
  <div class="row text-align">
    <div class="col-12">


      <div class="head">

        <h1>TOPFSPIEL</h1>
        <p> Zur allgemeinen Erheiterung des Gemüts </p>

      </div>

     <nav>
       <div class="nav nav-tabs" id="nav-tab" role="tablist">
         <a class="nav-item nav-link active" id="nav-new-tab" data-toggle="tab" href="#nav-new" role="tab" aria-controls="nav-new" aria-selected="true">Neues Spiel</a>
         <a class="nav-item nav-link" id="nav-old-tab" data-toggle="tab" href="#nav-old" role="tab" aria-controls="nav-old" aria-selected="false">Mache mit</a>
       </div>
     </nav>
     <div class="tab-content" id="nav-tabContent">
       <div class="tab-pane fade show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">

         <%= simple_form_for(@game) do |f| %>
           <%= f.input :name, label: 'Spielname' %>
           <%= f.input :players, label: 'Anzahl der Spieler'  %>
           <%= f.input :number, label: 'Anzahl der Begiffe pro Spieler'  %>
           <%= f.submit 'Spiel erstellen', class: 'button' %>
         <% end %>
       </div>
       <div class="tab-pane fade" id="nav-old" role="tabpanel" aria-labelledby="nav-old-tab">
         <% unless @games.nil? %>
           <% @games.each do |game|%>
             <%= link_to game_path(game) do %>
               <div class="game">
                <p><%= game.name %></p>
                <p><%= game.created_at.strftime("%D")%></p>
               </div>
             <% end %>
           <% end %>
         <% end %>
       </div>
     </div>
    </div>
  </div>
</div>
