<div class="container">

  <div class="head">
    <h1>SPIELÜBERSICHT</h1>
    <p>Hallo Spieler   von <%= @game.name%>! Hier warten bis ihr an der Reihe seid</p>
  </div>





    <% if @game.words.count < (@game.number * @game.players)%>
      <div class="box">
       <p>Mitspielerberiffe fehlen noch</p>
        <p><strong><%= (@game.number * @game.players) - @game.words.count%></strong></p>
      </div>
    <% else %>
      <div class="box">
         <p>Bergiffe noch im Topf</p>
        <% if  @words_left != nil %>
          <p><strong><%= @words_left.count %></strong></p>
        <% else %>
          <p><strong>0</strong></p>
        <% end %>
      </div>
    <% end %>

    <div class="box">
      <p>Spielrunde</p>
      <p><strong><%= @game.round %></strong></p>
    </div>



    <div class="box">
      <p>Reload</p>
      <%= link_to game_path(@game) do %>
        <p><i class="fas fa-sync-alt"></i>  </p>
      <% end %>
    </div>


  <div class="button">
  <%= link_to game_words_path(@game) do %>
    Ich bin dran
  <% end %>
  </div>

  <div class='next'>
    <%= link_to root_path(@game) do %>
        Neues Spiel erstellen
    <% end %>
  </div>

</div>







