<div class="container">

  <div class="head">
    <h1>SPIELÜBERSICHT</h1>
    <p>Hallo Spieler   von <%= @game.name%>! Hier warten bis ihr an der Reihe seid</p>
  </div>





    <% if @game.words.count < (@game.number * @game.players)%>
      <div class="box">
       <p><strong>Mitspielerberiffe fehlen noch!</strong></p>
        <p><strong><%= (@game.number * @game.players) - @game.words.count%>/<%=(@game.number * @game.players)%></strong></p>
      </div>
    <% else %>

    <div data-controller="counter">
      <div class="box">
           <p>Bergiffe noch im Topf</p>
          <% if  @words_left != nil %>
            <p ><strong data-target="counter.count"><%= @words_left.count %></strong><strong>/<%=(@game.number * @game.players)%></strong></p>
          <% else %>
            <p><strong>0</strong></p>
          <% end %>
        </div>
      <% end %>

      <div class="box">
        <p>Spielrunde</p>
        <p><strong data-target="counter.round"><%= @game.round %></strong></p>
      </div>
    </div>


  <div class="button">
  <%= link_to game_words_path(@game) do %>
    Ich bin dran
  <% end %>
  </div>

  <div class='next'>
    <%= link_to root_path(@game) do %>
       <p>Neues Spiel erstellen</p>
    <% end %>
  </div>

</div>







