<div class="container ">

  <div class="head">
    <h1>TOPFSPIEL</h1>
    <p><%=@description%></p>
  </div>


  <% if @word != nil%>
    <div class="card">
      <h2><%= @word.text %></h2>
    </div>
    <% else %>
    <p>es sind keine Wörter mehr im Topf</p>
  <% end %>


  <% if @word != nil%>
      <%= simple_form_for [@game, @word] do |f| %>
        <%= f.input :id , value: @word.id, as: :hidden %>
        <%= f.submit 'gelöst' , class: 'button solved'%>
      <% end %>
    <div class='next'>
      <%= link_to game_path(@game) do %>
          <p>nächster Spieler </p>
      <% end %>
    </div>
  <% else %>
    <%= simple_form_for [@game] do |f| %>
      <%= f.input :groupname , :input_html => { :value => "c"}, as: :hidden%>
      <%= f.submit 'Neue Runde',class: 'button' %>
    <% end %>
  <% end %>

 </div>




